.category__title {
  text-align: center;
  font-family: var(--font-family-title);
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 55px;
}

.category__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 26px;
  margin-bottom: 39px;
}

.category__button-btn {
  width: 210px;
  height: 70px;
  border-radius: 8px;
  background: var(--color-white);
  color: var(--color-text);
  padding: 13px 31px;

  &:hover {
    background-color: var(--color-text-accent);
  }
}

.active {
  background-color: var(--color-text-accent);
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 12px;
  width: 208px;
  min-height: 278px;

  &-image {
    margin-top: 20px;
    width: 144px;
    height: 144px;
    object-fit: cover;
    margin-bottom: 2px;
  }

  &-rating {
    display: flex;
    gap: 3px;
    margin-bottom: 28px;
    flex-direction: row-reverse;
  }

  &-rating label {
    height: 22px;
    width: 22px;
    position: relative;
    cursor: pointer;
    padding: 0 2px;
  }

  &-rating label:nth-of-type(5):after {
    animation-delay: 0.5s;
  }

  &-rating label:nth-of-type(4):after {
    animation-delay: 0.4s;
  }

  &-rating label:nth-of-type(3):after {
    animation-delay: 0.3s;
  }

  &-rating label:nth-of-type(2):after {
    animation-delay: 0.2s;
  }

  &-rating label:nth-of-type(1):after {
    animation-delay: 0.1s;
  }

  &-rating label:after {
    transition: all 1s ease-out;
    position: absolute;
    content: "☆";
    color: var(--color-yellow);
    font-size: 22px;
  }

  &-rating input {
    display: none;
  }

  &-rating input:checked + label:after,
  &-rating input:checked ~ label:after {
    content: "★";
    color: var(--color-yellow);
    text-shadow: 0 0 10px var(--color-yellow);
  }

  &-title {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 15px;
    color: var(--color-text);
    margin-bottom: 8px;
  }

  &-price {
    font-family: var(--font-family-title);
    font-weight: 500;
    font-size: 15px;
    color: var(--color-text);
    margin-bottom: 10px;
  }

  &-add {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 15px;
    color: var(--color-white);
    border-radius: 2px;
    width: 106px;
    height: 32px;
    background: var(--color-text-accent);
    padding: 6px 12px;
    margin-bottom: 22px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.swiper-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 208px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  transition: fill 0.3s ease;

  &:hover svg path {
    fill: var(--color-text-accent);
  }
}
