.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;

    @include tablet {
      padding-top: 18px;
    }
  }

  &__menu {
    margin-left: auto;
    font-size: 18px;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 60px;

      @include tablet {
        column-gap: 28px;
      }
    }

    &-link:hover {
      color: var(--color-text-accent);
    }
  }
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.form__input {
  display: none;
  position: absolute;
  left: -220px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  margin-right: 8px;
  z-index: 10;
  background-color: var(--color-white);
}

.search__btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}
.search-box.active .form__input {
  display: block;
  width: 200px;
}

.register {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  background: var(--color-text-accent);
  font-size: 18px;
  text-align: center;
  color: var(--color-white);

  @include tablet {
    width: 104px;
    height: 32px;
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-family: var(--font-family-title);
    font-weight: 500;
    font-size: 66px;
    color: var(--color-text);
    margin-bottom: 23px;

    @include tablet {
      font-size: 44px;
      margin-bottom: 14px;
    }
  }

  &-subtitle {
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 44px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 14px;
    }
  }

  &-list {
    width: 327px;
    height: 50px;
    display: flex;
    column-gap: 29px;
  }

  &-link {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-text);
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  &-link:hover {
    text-decoration: none;
    background-color: var(--color-text-accent);
    color: var(--color-white);
    border-radius: 5px;
  }

  &-images {
    max-width: 100%;
    height: auto;

    @include tablet {
      max-width: 50%;
    }
  }
}
