:root {
  --color-base: #E5E5E5;

  --color-text: #363853;
  --color-text-accent: #ff7a50;
  --color-text-footer: #37383d;
  --coolor-text-footer-accent: #646464;

  --color-yellow: #FFFF00;
  --color-white: #fff;
  --color-gray: #aaa;
  --color-gray-accent: #969696;

  --font-family-base: "Rubik-Regular" sans-serif;
  --font-family-title: "Rubik-Medium" sans-serif;
  --font-family-light: "Rubik-Light" sans-serif;
  --font-family-second: "DMSans-Regular" sans-serif;
  
  --container-width: 1200px;
  --container-padding-x: 15px;

  --section-padding-y: 60px;

  --transition-duration: .2s;
}